/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-gutenberg-examples-example-05-recipe-card-esnext{
	.recipe-image {
		float: right;
		width: 50%;
		min-height: 100px;
		background: #f1f1f1;
		text-align: center;
		img {
			display: block;
			position: relative;
			z-index: 1;
		}
		h2 {
			font-size: 1.5em;
		}
		ul {
			padding-left: 2.5em !important;
			/* Needs fix in Gutenberg. */
		}
		button {
			margin-top: 30px;
			&.image-button {
				display: block;
				margin: 0;
				padding: 0;
			}
		}
	}
}